/* CONFIGURACIÓN BÁSICA DE UN ARCHIVO CSS */

/* 1. TIPOGRAFÍAS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* 2. ICONOS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");

/* 3. ESTILOS GENERALES */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

p,
a,
button,
li,
label,
input,
select,
textarea,
span {
    font-family: "Raleway", sans-serif;
}

/* 4. VARIABLES */
:root {
    --primary-color: #e58411;
    --gray-color: #f7f7f7;
    --white-color: #fff;
    --dark-color: #1e1e1e;
    --fs-title1: 80px;
    --fs-title2: 38px;
    --fs-title3: 22px;
    --fs-title4: 18px;
    --fs-text: 16px;
}

/* 5. DESKTOP */
header {
    width: 100%;
    position: relative;
    height: 200vh;
    background: url('../img/Rectangle\ 1441.png');
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    padding-top: 40px;
}

.bg-transparente {
    background: transparent;
}

header nav .logo {
    color: var(--white-color);
    font-weight: 700;
    font-size: 28px;
    transition: .5s;
}

header nav .logo:hover {
    color: var(--white-color);
    transform: scale(1.5);
}

#navbarNav li a {
    color: var(--white-color);
    font-size: var(--fs-text);
    margin: 0 15px;
    padding: 10px;
    border-bottom: 1px solid transparent;
    transition: .5s;
}

#navbarNav li a:hover {
    border-bottom: 1px solid var(--primary-color);
}

header .bag-button {
    background: transparent;
    border: none;
    color: var(--white-color);
    font-size: 30px;
    position: relative;
}

header .bag-button .counter-products {
    width: 26px;
    height: 26px;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: var(--fs-text);
    border-radius: 50%;
    position: absolute;
    right: -10px;
    bottom: 0px;
}

#hero {
    width: 100%;
    text-align: center;
    padding: 90px;
}

#hero h2 {
    font-size: var(--fs-title1);
    color: var(--white-color);
    font-weight: 700;
}

#hero p {
    color: var(--white-color);
    font-size: var(--fs-title3);
    padding: 40px 150px;
}

#hero form {
    width: 400px;
    position: relative;
    margin: 0 auto;
}

#hero form input {
    border-radius: 40px;
    padding: 15px 65px 15px 20px;
    font-size: var(--fs-title4);
    width: 344px;
    border: 2px solid#fff;
    background: #ffffff4b;
    color: var(--white-color);
    outline: none;
}

#hero form input::placeholder {
    color: var(--white-color);
}

#hero form button {
    width: 40px;
    height: 40px;
    background: var(--primary-color);
    border: none;
    border-radius: 50%;
    color: var(--white-color);
    position: absolute;
    right: 10%;
    bottom: 10px;
}



/* Estilos de la section choosing-us en el main */
#choosing-us {
    width: 100%;
    position: relative;
    background: var(--white-color);
    padding: 120px 0;
}

#choosing-us h2 {
    font-weight: 700;
    font-size: var(--fs-title2);
    color: var(--dark-color);
    padding-top: 20px;
}

#choosing-us h3 {
    font-weight: 700;
    font-size: var(--fs-title3);
    color: var(--dark-color);
}

#choosing-us p {
    font-size: var(--fs-text);
    margin-top: 20px;
    color: var(--dark-color);
}

#choosing-us a {
    color: var(--primary-color);
}

#choosing-us a i {
    margin-left: 4px;
    transition: .5s;
}

#choosing-us a:hover i {
    margin-left: 15px;
}



/* Estilos de la section products en el main  */
#products h2 {
    font-size: var(--fs-title2);
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 40px;
}

#products ul {
    width: 420px;
    margin: 0 auto;
    background: #eeeeee;
    padding: 6px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    border: none;
}

#products li button {
    color: var(--dark-color);
    padding: 10px 30px;
    border: none;
}

#products li button:hover {
    border: none;
}

#products li button.active {
    background: var(--white-color);
    border-radius: 30px;
    border: none;
}

#products .card-product {
    margin: 0 15px !important;
}

#products .card-product .cont-img {
    background: #e6e6e6;
    position: relative;
    width: 100%;
    min-height: 220px;
    border-radius: 20px 20px 0 0;
}

#products .card-product .cont-img img {
    width: 220px;
    position: absolute;
    top: -70px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

#products .slick-list {
    padding: 160px 0;
}

#products .cont-info {
    background: white;
    text-align: left;
    padding: 20px;
    border-radius: 0 0 20px 20px;
}

#products .cont-info p.category {
    font-size: var(--fs-text);
    color: #8d8d8d;
}

#products .cont-info h3 {
    font-size: 18px;
    font-weight: 700;
    color: var(--dark-color);
}

#products .stars i {
    color: #f6b767;
}

#products .stars {
    margin-bottom: 30px;
}

#products .card-product h4 {
    font-size: 22px;
    font-weight: 600;
    display: flex;
    margin: 0;
}

#products .card-product h4 span {
    font-size: 15px;
    margin-right: 4px;
}

#products .card-product button {
    background: #0d1b39;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    color: var(--white-color);
    font-size: 24px;
}

#products .slick-arrow {
    background: var(--white-color);
    width: 44px;
    height: 44px;
    z-index: 999;
    border-radius: 50%;
    color: #0d1b39;
    border: 1px solid #dbdada;
}

#products .slick-arrow::before {
    color: #0d1b39;
}

#products a{
    color: var(--primary-color);
    font-size: 18px;
    text-decoration: none;
    margin-top: -100px;
}

#products a i{
    color: var(--primary-color);
    
}



/* Estilos de la section experiences en el main  */
#experiences {
    width: 100%;
    position: relative;
    padding: 140px 0;
}

#experiences .cont-img {
    position: relative;
    left: -20px;
}

#experiences .cont-img img {
  filter: drop-shadow(-10px 15px 0px #af7d43);
}

#experiences .cont-img::before {
    content: "";
    width: 400px;
    height: 400px;
    background: #f7f7f7;
    position: absolute;
    z-index: -1;
    top: -90px;
    border-radius: 20px;
}

#experiences .cont-img::after {
    content: "";
    width: 400px;
    height: 300px;
    background:  #f7f7f7;
    position: absolute;
    z-index: -1;
    top: 75px;
    border-radius: 20px;
    right: 168px ;
}

#experiences .cont-info {
    padding: 20px 60px 0 0;
}

#experiences .cont-info h3 {
    color: var(--primary-color);
    text-transform: uppercase ;
    font-size: var(--fs-title4); 
}

#experiences .cont-info h2 {
    font-size: var(--fs-title2);
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 40px;
}

#experiences .cont-info p {
    font-size: var(--fs-text);
    margin-top: 20px;
    color: var(--dark-color);
}

#experiences a{
    color: var(--primary-color);
    text-decoration: none;
}

#experiences a i{
    margin-left: 4px;
    transition: .5s;
}

#experiences a:hover i{
    margin-left: 15px;
}


/* Estilos de la section materias en el main  */
#materias {
    width: 100%;
    position: relative;
    padding: 50px 0;
}

#materias .items-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#materias .items-center h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 0;
}

#materias .items-center h2 {
    color: var(--dark-color);
    text-transform: uppercase;
    font-size: var(--fs-title2);
    font-weight: 700;
    margin-bottom: 40px;
}

#materias .items-center p {
    font-size: var(--fs-text);
    margin-top: 20px;
}

#materias .items-center a {
    color: var(--primary-color);
    text-decoration: none;
}

#materias .items-center a i {
    margin-left: 4px;
    transition: .5s;
}

#materias .cont-imgs img {
    padding: 20px 0;
}

#materias .cont-img img {
    position: relative;
    left: 65px;
    bottom: -150px;
    padding: 0px;
    right: 0px;
    box-shadow: -15px 16px 15px -10px #af7d43;
}

#materias .cont-img {
    padding-right: 0px;
}

#materias .cont-img::before {
    content: "";
    width: 290px;
    height: 300px;
    background: #f7f7f7;;
    position: absolute;
    z-index: -1;
    top: 150px;
    border-radius: 20px 0px 0px 0px;
    right: 4px;
}



/* Estilos de la section reviews en el main */
#reviews {
    width: 100%;
    position: relative;
    padding: 90px 0;
    text-align: center;
}

#reviews h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: var(--fs-title4);
    margin-bottom: 20px;
}

#reviews h2 {
    font-weight: 700;
    font-size: var(--fs-title2);
    color: var(--dark-color);
    padding-top: 20px;
    text-transform: capitalize;
}

#reviews .card-reviews {
    position: relative;
}

#reviews .card-reviews .cont-info {
    background: var(--white-color);
    position: absolute;
    width: 78%;
    bottom: 20px;
    border-radius: 30px;
    left: 4%;
    padding-bottom: 20px;
    padding-top: 50px;
}

#reviews .card-reviews .cont-info img {
    position: absolute;
    top: -35px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border: 10px solid #fff;
    border-radius: 50%;
    padding-left: 30px;
    padding-right: 30px;
}

#reviews .card-reviews .cont-info p {
    color: var(--fs-title1);
    font-weight: 700;
}

#reviews .card-reviews .cont-info h4 {
    font-size: 12px;
    color: var(--dark-color);
    margin-bottom: 20px;
    font-weight: 300
}

#reviews .card-reviews .cont-info h5 {
    font-size: 12px;
    color: var(--dark-color);
    color: #666;
    margin-bottom: 20px;
    font-weight: 300;
}

#reviews .card-reviews .cont-info .stars i {
    color: #f6b76f;
}

#reviews .card-reviews .cont-info .stars i:nth-child {
    opacity: 0.5;
}

#reviews .slick-arrow {
    background: var(--white-color);
    width: 50px;
    height: 50px;
    padding-top: 5px;
    z-index: 999;
    border-radius: 50%;
    color: #0d1b39;
    border: 1px solid#dbdada;
}

#reviews .slick-arrow::before {
    color: #0d1b39;
}


/* Estilos del footer */
footer{
    background: #f7f7f7;
    padding: 80px 0;
}

footer .logo{
    text-decoration: none;
    font-size: 36px;
    color: var(--dark-color);
    font-weight: 700;
    margin-bottom: 30px;
    display: block;
}

footer .p-footer{
padding-right: 80px;
color: var(--dark-color);
font-size: var(--fs-text);
}

footer h3{
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 18px;
}

footer .col-footer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
}

footer .col-footer a, footer .row-footer a{
    color: var(--dark-color);
    text-decoration: none;
}

footer .col-footer p {
    margin: 0px;
}

footer .row-footer{
    margin-top: 90px;
}










/* 6. TABLET estilos responsil table*/
@media screen and (min-width:768px) and (max-width:1080px) {}


/* 7. SMARTPHONE estilos responsil de cel */
@media screen and (min-width:320px) and (max-width:767px) {}